button {
  width: auto;
  height: 20px;
}

.box {
  outline: 1px solid black;
  width: 100%;
  max-width: 600px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.details {
  outline: 1px solid black;
  flex: 2;
}
.nome {
  flex: 1;
}
