nav {
    background-color: #8B0000 ; /* Colore di sfondo blu */
    padding: 1rem; /* Padding interno */
    display: grid;
    grid-template-columns: 1fr 2fr; /* Divide in due colonne */
    height: 5rem; /* Altezza */
    position: sticky; /* Posizione fissa */
    top: 0; /* In alto */
    z-index: 1000; /* Z-index */
}

nav h1 {
    color: white; /* Colore del titolo */
    font-size: 1.5rem; /* Dimensione del font */
    grid-column: 1 / 2; /* Occupa la prima colonna */
}

nav ul {
    list-style-type: none; /* Rimuove i puntatori della lista */
    padding: 0; /* Rimuove il padding */
    display: flex; /* Dispone gli elementi in orizzontale */
    gap: 0.3rem; /* Spaziatura tra gli elementi */
    grid-column: 2 / 3; /* Occupa la seconda colonna */
    margin-left: auto; /* Allinea a destra */
}

nav ul li {
    display: inline; /* Dispone gli elementi in linea */
    margin: auto 0;
}

nav a {
    color: white; /* Colore del testo dei link */
    text-decoration: none; /* Rimuove la sottolineatura */
    padding: 0.5rem 1rem; /* Padding interno per i link */
    border-radius: 0.25rem; /* Angoli arrotondati */
    transition: background-color 0.3s; /* Transizione per il colore di sfondo */
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Colore di sfondo al passaggio del mouse */
}
