<ul>
  <li>
    <app-pizza
      [nome]="pizze[0].nome"
      [prezzo]="pizze[0].prezzo"
      [ingredienti]="pizze[0].ingredienti"
      (showInfo)="onShowInfo($event)"
    >
    </app-pizza>
  </li>
  <li>
    <app-pizza
      [nome]="pizze[1].nome"
      [prezzo]="pizze[1].prezzo"
      [ingredienti]="pizze[1].ingredienti"
      (showInfo)="onShowInfo($event)"
    >
    </app-pizza>
  </li>
  <li>
    <app-pizza
      [nome]="pizze[2].nome"
      [prezzo]="pizze[2].prezzo"
      [ingredienti]="pizze[2].ingredienti"
      (showInfo)="onShowInfo($event)"
    >
    </app-pizza>
  </li>
  <li>
    <app-pizza
      [nome]="pizze[3].nome"
      [prezzo]="pizze[3].prezzo"
      [ingredienti]="pizze[3].ingredienti"
      (showInfo)="onShowInfo($event)"
    >
    </app-pizza>
  </li>
</ul>
