body {
    background: rgb(0,0,0) cover;
    background: linear-gradient(324deg, rgba(0,0,0,1) 0%, rgba(253,29,29,1) 58%) no-repeat;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
}
