
body {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    
}

.frog {
    display: inline-block;
    margin-right: 6em;
    margin-bottom: 10em;
    border-radius: 10px;
    position: relative;

}

.frog.orange {
    background-color: orange;
}

.frog.green {
    background-color: green;
}

.frog.small {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frog.big {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frog.small.orange .eye {
    background-color: darkorange;
}

.frog.small.green .eye {
    background-color: darkgreen;
}

.frog.big.orange .eye {
    background-color: rgb(255, 195, 85);
}

.frog.big.green .eye {
    background-color: lightgreen;
}

.small .eye {
    width: 30px;
    height: 30px;
    bottom: 25px;
    color: white;
}

.big .eye {
    width: 60px;
    height: 60px;
    bottom: 70px;
}

.eye {
    display: inline-block;
    position: absolute;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.small .left.eye {
    right: 65px;
}

.small .right.eye {
    left: 65px;
}

.big .left.eye {
    right: 220px;
}

.big .right.eye {
    left: 220px;
}

.frog:hover .eye.right, .frog:hover .eye.left {
    background-color: black;
}

.frog.big:hover .eye.right, .frog.big:hover .eye.left {
    color: white;
}