.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Spaziatura tra le card */
    padding: 20px;
    max-width: 1400px; /* Larghezza massima */
    margin: 0 auto; /* Centratura */
}
