body ul li{
    display: block;
    width: 50px;
    height: 50px;
    outline: 1px solid black;
    background-image: url("https://png.pngtree.com/png-vector/20210226/ourmid/pngtree-white-dish-png-image_2962650.jpg");
    background-size: 100%;
    border-radius: 50%;
}   
.coloum-left{
    float: left;
    background-color: rgb(255, 200, 0);
    padding: 20px;
}

.coloum-right{
    float: right;
    background-color: red;
    padding: 20px;
}

.washer{
    float: left;
    background-color: rgb(255, 200, 0);
    padding: 20px;
    margin-left: 40px;
}

.coloum-left ul,
.coloum-right ul, 
.washer ul{
    margin: 0 20px;
    padding: 0 20px;
}
